@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3ede7; /* bege claro */
    color: #7a4a2f;

}
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #8B5E3C;
}
.paginaTotal {
        width: 1000px;
        background-color: #f3ede7;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* FAIXA SUPERIOR */
.topo {
    background-color: #b8683c; /* terracota */
    color: white;
    padding: 60px 40px;
     
}

.topo-conteudo {
    max-width: 900px;
    margin: auto;
    text-align: right;
}

.topo h1 {
    font-size: 38px;
    font-weight: 600;
}

#info {
    margin-top: 15px;
    line-height: 1.6;
    font-weight: 300;
}

/* CONTEÚDO */
.conteudo {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 40px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

p {
    line-height: 1.6;
    max-width: 750px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.ano {
    font-style: italic;
    font-size: 14px;
}

.linguagens {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.tag {
    background-color: #b8683c;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.botaogit {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imggit {
    width: 5vw;
}

li {
    list-style: none;
}

.botaocisco {
    background-color: #b8683c;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    margin-bottom:1vw ;
} 

